<footer class="footer mt-auto py-3 bg-dark">
  <div class="container-fluid">
    <a class="mr-5 px-3 d-none d-md-block" href="index.html"
      ><img
        title="Sitelogo"
        alt="Sitelogo"
        class="navbar-brand-logo"
        nitro-lazy-empty=""
        id="MTc0OjExMQ==-1"
        src="./assets/img/Sitelogo.svg"
    /></a>
    <span class="footer-copyright">Copyright &copy; 2022 CUSP</span>
    <ul class="footer-nav navbar-nav px-3 flex-row">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Terms & Conditions</a>
      </li>
      <li class="nav-item text-nowrap ml-4">
        <a class="nav-link" href="#">Disclaimer</a>
      </li>
      <li class="nav-item text-nowrap ml-4">
        <a class="nav-link" href="#">Privacy Policy</a>
      </li>
      <li class="nav-item text-nowrap ml-4 d-none d-md-block">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</footer>
