<nav class="navbar navbar-dark bg-dark navbar-expand-lg p-0">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand col-md-1 col-lg-1 mr-5 px-3" href="index.html"
      ><img
        title="Sitelogo"
        alt="Sitelogo"
        class="navbar-brand-logo"
        nitro-lazy-empty=""
        id="MTc0OjExMQ==-1"
        src="./assets/img/Sitelogo.svg"
    /></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav px-3 flex-row">
        <li class="nav-item text-nowrap active">
          <a class="nav-link" href="about.html">Home</a>
        </li>
        <li class="nav-item text-nowrap ml-4">
          <a class="nav-link" href="index.html">About Us</a>
        </li>
        <li class="nav-item text-nowrap ml-4">
          <a class="nav-link" href="index.html">Marketplace</a>
        </li>
        <li class="nav-item text-nowrap ml-4">
          <a class="nav-link" href="index.html">Green Token</a>
        </li>
        <li class="nav-item text-nowrap ml-4">
          <a class="nav-link" href="index.html">Blogs</a>
        </li>
        <li class="nav-item text-nowrap ml-4">
          <a class="nav-link" href="index.html">CUSP Gitbook</a>
        </li>
        <li class="nav-item text-nowrap ml-4">
          <a class="nav-link" href="index.html">Contact Us</a>
        </li>
      </ul>
    </div>
    <a
      href="https://app.cusp.earth"
      class="button-link button size-xs navbar-button d-none d-md-block"
      role="button"
    >
      <span class="button-content-wrapper">CLAIM TOKENS</span>
    </a>
  </div>
</nav>
